<header id="header">
		<div>
			<a class="logo" style="border:none;display:flex;flex-direction:row;" href="<%- config.root %>" >
				<span style="margin-right:10px;width:60px;height:60px;background:url(<%- theme.Intro.logo %>) no-repeat 0 0;background-size:cover;"></span>	
				<span style="font-size:14px;padding-top:35px;">智能出行方式</span>
			</a>
		</div>
</header>